<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title><%= appname %></title>

        <!-- TODO : Common API -->
        <script type="text/javascript" language="javascript" src="$MANAGER_WIDGET/Common/API/Widget.js"></script>
        <script type="text/javascript" language="javascript" src="$MANAGER_WIDGET/Common/API/TVKeyValue.js"></script>

        <!-- build:css styles/vendor.css -->
        <!-- bower:css -->
        <% if (includeBootstrap && !includeCompass) { %><link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"><% } %>
        <!-- endbower -->
        <!-- endbuild -->

        <!-- TODO : Style sheets code -->
        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->
    </head>
    <body onload="Main.onLoad();" onunload="Main.onUnload();">

        <!-- Dummy anchor as focus for key events -->
        <a href="javascript:void(0);" id="anchor" onkeydown="Main.keyDown();"></a>

        <!-- TODO: your code here -->

        <% if (includeBootstrap) { %>
        <div class="container">
            <div class="header">
                <h3 class="text-muted"><%= appname %></h3>
            </div>

            <div class="jumbotron">
                <h1>'Allo, 'Allo!</h1>
                <p class="lead">Always a pleasure scaffolding your apps.</p>
                <p><a class="btn btn-lg btn-success" href="#">Splendid!</a></p>
            </div>

            <div class="row marketing">
                <div class="col-lg-6">
                    <% if (includeCompass) { %><h4>Sass with Compass</h4>
                    <p>Compass is an open-source CSS Authoring Framework that uses Sass.</p>
                    <% } %>

                    <h4>Bootstrap</h4>
                    <p>Sleek, intuitive, and powerful mobile first front-end framework for faster and easier web development.</p>
                </div>
            </div>

            <div class="footer">
                <p>♥ from the Yeoman team</p>
            </div>

        </div>
        <% } else { %>
        <div class="header">
            <h3><%= appname %></h3>
        </div>
        <div class="hero-unit">
          <h1>'Allo, 'Allo!</h1>
          <p>You now have</p>
          <ul>
            <% if (includeCompass) { %><li>Sass with Compass</li><% } %>
          </ul>
        </div>
        <% } %>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>
    </body>
</html>